<!-- <h1>
    British date time is {{toDate | date:'dd/MM/yy HH:mm':'GMT':'en-GB'}}</h1>
     -->
<ng-container *ngIf="products.length!=0">
<div class="container">
    <div class="card-table">
        <div class="cart-product">
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th>Sr.no</th>
                        <th>Product Name</th>
                        <th>Product Image</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Total</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of products; let i=index;">
                        <td>{{i+1}}</td>
                        <td>{{product.title}}</td>
                        <td><img style="width: 120px;"  src="{{product.image}}" alt=""></td>
                        <td style="width: 25%;">{{product.description}}</td>
                        <td style="width: 12%;">{{product.price}}</td>
                        <td style="width: 12%;">{{product.quantity}}</td>
                        <td style="width: 12%;">{{product.total}}</td>
                        <td>
                            <button (click)="removeItem(product)" class="btn btn-danger"><i class="fa fa-trash-o"></i></button>
                        </td>
                    </tr>
                    <tr>
                        <td colspan=4></td>
                        <td><button (click)="emptyCart()" class="btn btn-danger">Empty cart</button></td>
                        <td><button routerLink="/products" class="btn btn-primary">Shop more</button></td>
                        <td><button class="btn btn-success" routerLink="/logout">Logout</button></td>
                        <td><strong>GrandTotal: ${{grandTotal}}</strong></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</ng-container>

<ng-container *ngIf="products.length ===0">
    <div class="container">
        <div class="card">
            <h5 class="card-title">
                My cart
            </h5>
        </div>
        <div class="center">
            <img src="https://fakestoreapi.com/img/71YXzeOuslL._AC_UY879_.jpg" alt="">
            <h4>Your cart is empty!</h4>
            <h6>Add item to it now</h6>
           <button routerLink="/products" class="btn btn-primary">Shop Now</button>
    
        </div>
    </div>
</ng-container>
