<section class="vh-100" style="background-color: #eee;">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px;">
          <div class="card-body p-md-3">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>

                <form class="mx-1 mx-md-4" [formGroup]="registerForm" (ngSubmit)="onSubmit()" novalidate>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fa fa-user fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="text" formControlName="firstname" name="firstname" id="firstname" maxlength="15"
                        class="form-control" placeholder="Your name" required/>
                      <!-- <label class="form-label" for="form3Example1c">Your Name</label> -->
                    </div>

                  </div>

                  <p *ngIf="!firstname?.valid && (firstname?.touched || firstname?.dirty)" class="text-center">
                    First Name is required
                  </p>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fa fa-envelope fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="email"  formControlName="email" name="email" id="email" class="form-control"
                        placeholder="Your Email" />
                      <!-- <label class="form-label" for="form3Example3c">Your Email</label> -->
                    </div>
                  </div>
                  <p class="text-center red" *ngIf="(email?.touched || email?.dirty) && !email?.valid">
                    Please enter valid email
                  </p>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fa fa-lock fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="password" formControlName="password" name="password" id="password"
                        class="form-control" placeholder="password" />
                      <!-- <label class="form-label" for="form3Example4c">Password</label> -->
                    </div>
                  </div>

                  <p class="text-center red" *ngIf="(password?.touched || password?.dirty) && !password?.valid">
                    Please enter password
                  </p>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fa fa-key fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="password" formControlName="confirmPassword" name="confirmPassword" id="confirmPassword"
                        class="form-control" placeholder="Repeat your password">
                      <!-- <label class="form-label" for="form3Example4cd">Repeat your password</label> -->
                    </div>
                  </div>

                  <!-- <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                    <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                    <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
                </div> -->


                  <!-- <div class="text-center red" *ngIf="(cpassword?.touched || cpassword?.dirty) && !cpassword?.valid">
                    password and confirm password must be same!
                  </div> -->
                  <!-- <div *ngIf="submitted &&  f.cpassword.errors">
                    <div *ngIf="f.['cpassword'].errors['confirmedValidator']">
                      password and confirm password must be same!
                    </div>
                  </div> -->


                  <!-- <div *ngIf="f.cpassword.errors?.confirmedValidator">Password and Confirm Password must be match.</div> -->

                  <!-- <div class="form-check d-flex justify-content-center mb-5">
                    <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3c" />
                    <label class="form-check-label" for="form2Example3">
                      I agree all statements in <a href="#!">Terms of service</a>
                    </label>
                  </div> -->

                </form>
                <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                  <button type="button" class="btn btn-primary" [disabled]="registerForm.invalid" (click)="register()">Register</button>
                </div>
                <div *ngIf="message">
                  <p style="color: blue; text-align: center;">{{message}}</p>
                </div>
              </div>
              <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                  class="img-fluid" alt="Sample image">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <div *ngIf="isReg">
  <p style="text-align: center;">Registered successfully!</p>
</div> -->