<!-- <div class="text-center">
<h3>ANGULAR-PRACTICE</h3>
<p>This is Root component</p>
</div> -->
<!-- <ul>
    <li><a routerLink="/home">Home</a></li>
    <li><a routerLink="/product">Data Binding</a></li>
        <li><a routerLink="/directives">Directives</a></li>
</ul> -->
<!-- <app-home></app-home> -->


<app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer>

<!-- <app-employee-dashboard></app-employee-dashboard> -->
<!-- <router-outlet></router-outlet> -->


<!-- <ngx-loading-bar [includeSpinner]="false" [color]="'red'" [height]="'7px'" type = "square-jelly-box"></ngx-loading-bar>
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background: linear-gradient(90deg, rgb(9 9 121 / 70%) 33%, rgb(0 212 255 / 70%) 100%); color:aliceblue;">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/headline" style="color: rgb(542, 10, 185);">DSBNEWS</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/headline" style="color: aliceblue;">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/tech-news" style="color: aliceblue">Tech News</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/business-news" style="color: aliceblue">Business News</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/science" style="color: aliceblue">Science News</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>
<footer>
    <p class="text-center" style="font-weight: 800;">&copy; &reg; By BhaskarTC News {{currentYear}}.</p>
</footer> -->