<div class="text-center">
<h1>Data Binding</h1>
<h3>String Interpolation</h3>
<h5>{{title}}</h5>
<hr>
<h3>Property Binding</h3> 
<!-- component to view control -->
<button  class="btn btn-danger" [disabled]="isDisabled">I am disabled</button> 
<hr>
<h3>Event Binding</h3>
<!-- It is one way Binding from view to component. -->

<button (click)="clickMe()">Click Me</button>
<p>{{count}}</p>
<input (input)="handleInput($event)">
<p>You have entered:{{value}}</p>
<h3>Template reference variable</h3>
<!-- We can also make use of the template reference variable to pass the value instead of $event. -->
<input #el (input)="handleInput1(el)">
<p>You have entered= {{val}}</p>
<input (keyup)="value1= $any($event.target).value" />
<p>You entered === {{value1}}</p>

<input (keyup.enter)="value3=$any($event.target).value" (keyup.escape)="$any($event.target).value='';value3=''">
<p>You entered== {{value3}}</p>
<h2>Examaple of Two way data Binding</h2>
<input type="text" name="search" [(ngModel)]="search">
<p> You entered: {{search}}</p>
<button (click)="clearValue()">Clear</button>
</div>